<div class="form-inline">
  <label for="first">First<abbr title="This field is mandatory">*</label>
  <input required type="text" name="first" id="first">
  <label for="last">Last<abbr title="This field is mandatory">*</label>
  <input required type="text" name="last" id="last">
</div>

<div class="form-inline">
  <label for="title">Title</label>
  <input type="text" name="title" id="title">
  <label for="company">Company</label>
  <input type="text" name="company" id="company">
</div>
