<div class="form-inline">
  <label for="home_area">Home</label>
  <input type="text" name="home_area" id="home_area">
  <input type="text" name="home" id="home">
</div>

<div class="form-inline">
  <label for="work">Work</label>
  <input type="text" name="work_area" id="work_area">
  <input type="text" name="work" id="work">
</div>

<div class="form-inline">
  <label for="cell">Cell</label>
  <input type="text" name="cell_area" id="cell_area">
  <input type="text" name="cell" id="cell">
</div>
