<h1>Contact List</h1>
<ul>
  <% @contacts.each() do |contact| %>
    <li>
      <span><%= contact.last() %>, <%= contact.first() %></span>
    </li>
  <% end %>
</ul>
<a href='/contacts/new'>
  <button class="btn btn-default">New Contact</button>
</a>
